/* index.css */
body {
  background-color: #181720;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header, footer {
  padding: 20px 0;
}
